.mainDiv {
    /* background: linear-gradient(to right, lightblue, rgb(1, 91, 99)); */
    background-image: url('../images/avlBackdrop.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: fit-content;
    gap: 15px;
}

.myBtn {
padding: 10px;
border: white solid 2px;
border-radius: 10px;
background-color: lightpink;
}

.myBtn:hover {
    border: black solid 2px;
    background-color: rgb(255, 47, 231);
}

.eventsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.eventLink {
    width: 22vw;
    height: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: black solid 2px;
    border-radius: 3px;
    color: antiquewhite;
    gap: 5px;
}

.eventLink:hover {
    transition: 2s;
    transform: scale(125%);
}


a {
    text-decoration: none !important;
}

.eventVenue, .eventTitle, .eventDate {
    background-color: rgba(12, 5, 5, 0.95);
    text-align: center;
    margin: 0;
    width: 100%;
}


.eventVenue {
    color: white;
}

.eventTitle {
    color: gold;
    padding: 15px 0;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.eventDate {
    font-weight: 900;
}

.eagle-border {
    border: double white 5px;
}

.peel-border {
    border: double orange 5px;
}

.rabbit-border {
    border: pink double 5px;
}

.salvage-border {
    border: yellow double 5px;
}

.cherokee-border {
    border: red double 5px;
}