

.mainDiv {
    /* background: linear-gradient(to right, lightblue, rgb(1, 91, 99)); */
    background-image: url('../images/avlBackdrop.jpeg');
    background-size: 2000px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: fit-content;
    gap: 15px;
}

.myBtn {
padding: 10px;
border: white solid 2px;
border-radius: 10px;
background-color: lightpink;
}

.myBtn:hover {
    border: black solid 2px;
    background-color: rgb(255, 47, 231);
}

.mainEventsDiv {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.dateHeader {
    color: black;
    background-color: navajowhite;
    border: solid black 3px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 12px;
}

.firstDate {
    width: 80%
}

.eventsDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
  width: 80%;
}

.blackBorder {
    border: solid black 3px;
    border-radius: 3px;
    transition: 2s;
}
.blackBorder:hover {
    transition: 10s;
    transform: scale(110%);
}

.eventLink {
    overflow: hidden;
    flex-shrink: 1;
    width: 82vw;
    height: 37vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: black solid 2px;
    border-radius: 3px;
    color: antiquewhite;
    gap: 5px;
    background-color: black;
}


a {
    text-decoration: none !important;
}

.eventVenue, .eventTitle, .eventDate {
    background-color: rgba(12, 5, 5, 0.95);
    text-align: center;
    margin: 0;
    width: 100%;
}


.eventVenue {
    color: white;
}

.eventTitle {
    color: gold;
    padding: 15px 0;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.eventDate {
    font-weight: 900;

}

.eagle {
    border: solid lightgray 5px;
}

.eagle > h2 {
    color: lightgray;
}

.peel {
    border: solid orange 5px;
}
.peel > h2 {
    color: orange;
}

.rabbit {
    border: pink solid 5px;
}
.rabbit > h2 {
    color: pink;
}

.salvage {
    border: olivedrab solid 5px;
}
.salvage > h2 {
    color: olivedrab;
}

.cherokee {
    border: tomato solid 5px;
}
.cherokee > h2 {
    color: tomato;
}

