.navContainer {
    display: flex;
    align-items: end;
    background-image: url('../images/avlPretty.jpeg');
    background-size: 100vw;
    background-position-y: center;
    height: 250px;
    /* background-color: rgb(49, 3, 49); */
    color: antiquewhite;
    border-bottom: black solid 3px;
}

.navLogo {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    padding: 10px;
    margin-right: auto;
}

.navRight {
    width: 75%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    background-color: rgba(21, 9, 9, .5);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.title {
    font-size: 3.5vw;
    font-family: fantasy;
    text-align: center;
    margin: 0;
}

.sortLink {
    background-color: antiquewhite;
    padding: 10px;
    border: solid black 2px;
    border-radius: 1px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.sortLink:hover,
.sortLink::selection {
    background-color: goldenrod;
    border: solid skyblue 2px;
}

.navLinks {
    display: flex;
    justify-content: end;
    width: fit-content;
}

.navLinks>a:visited {
    color: rgb(145, 49, 235);
}

@media (max-width: 400px) {
.navRight {
    flex-direction: column;
    align-items: center;
}

.sortLink {
    font-size: 10px;
    width: 85px;
}
.sortLink > a {
    text-decoration: none;
}
.navLogo {
    width: 30vw;
    height: 30vw;
}
}