.navContainer {
    display: flex;
    align-items: end;
    background-image: url('../images/avlPretty.jpeg');
    background-size:100vw;
    background-position-y:center;
    height: 250px;
    /* background-color: rgb(49, 3, 49); */
    color: antiquewhite;
    padding-bottom: 20px;
}

.navLogo {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    padding: 10px;
    margin-right: auto;
}

.navRight {
    width: 75%;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    margin: 0;
}

.title {
    font-size: 3.5vw;
    font-family: fantasy;
    background-color: rgba(21, 9, 9, .5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.sortLink {
    padding: 10px;
    border: solid antiquewhite 2px;
    border-radius: 1px;
    background-color: black;
    font-size: 1.5vw;
}

.sortLink:hover, .sortLink::selection {
    background-color: antiquewhite;
    border: solid goldenrod 2px;
}

.navLinks {
    color: goldenrod;
    display: inline;
    float: right;
}
.navLinks > a:visited {
    color: rgb(145, 49, 235);
}
