.mainSortDiv {
    background-image: url('../images/brick1.jpeg');
    background-size: cover;
    width: fit-content;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;

}

.venueSortDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 95%;
    max-width: 400px;
    gap: 5px;
    margin-top: 20px;
    background: linear-gradient(to bottom right, navajowhite, wheat, goldenrod);
    padding: 10px 0 10px 50px;
    border: solid black 5px;
}

.eachBox {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.eachBox:hover {
    cursor: pointer;
}

.selectTitles {
    width: 100vw;
    text-align: center;
    font-size: 22px;
    background: linear-gradient(to right, rgb(105, 180, 181), rgb(255, 117, 179));
    padding: 10px;
    margin-top: 40px;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.venueList {
    font-size: 2vw;
    background-color: black;
    color: antiquewhite;
    padding: 2vw;
    border-radius: 12px;
    border: none;
}

.venueList:hover {
    cursor: pointer;
    color: black;
    background-color: antiquewhite;
}

.selected {
    background-color: antiquewhite;
    color: black;
    border: solid goldenrod 3px;
}

.datePicker {
    height: 55px !important;
    width: 308px;
    border: solid black 1px;
    border-radius: 5px;
    position:absolute;
    top: 22rem;
}
.datePicker:hover {
    cursor: pointer;
    background-color: bisque;
}
.datePicker::placeholder {
    color: black;
    text-align: center;
}

#dateHeader {
    margin-bottom: 40px;
}

.submitSort {
    background-color: black;
    color: hotpink;
    margin-top: 30px;
    height: 55px;
    width: 300px;
    border-radius: 12px;
    border: white solid 2px;
    position: fixed;
    bottom: 10px;
    margin: auto;
}
.submitSort:hover {
    color: black;
    background-color: red;
    cursor: pointer;
    border: black solid 2px;
}