.mainSortDiv {
    background-image: url('../images/avlBackdrop.jpeg');
    width: 100vw;
    height: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topSortDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sortSelectorDiv {
    background-color: rgb(213, 183, 113);
    padding: 40px;
    border-radius: 22px;
    margin-top: 20px;
}

.selectVenue {
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
}

.ulist {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0 0 0;
}

li {
    list-style: none;
}

.venueList {
font-size: 3vw;
background-color: black;
color: antiquewhite;
padding: 20px;
border-radius: 22px;
}
.venueList:hover {
    cursor: pointer;
    color: black;
    background-color: antiquewhite;
}

.selected {
    background-color: antiquewhite;
    color: black;
    border: solid goldenrod 3px;
}

.submitSort {
    padding: 10px;
    background-color: black;
    color: goldenrod;
    margin-top: 30px;
    width: 15vw;
    height: 5vw;
}
.submitSort:hover {
    color: black;
    background-color: goldenrod;
}