.mainSortDiv {
    background-image: url('../images/avlBackdrop.jpeg');
    background-size: 1500px;
    width: 100vw;
    height: 100vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.venueSortDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}


.selectTitles {
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    background: linear-gradient(to right, antiquewhite, goldenrod);
    padding: 10px;
    margin-top: 40px;
}


.venueList {
    font-size: 2vw;
    background-color: black;
    color: antiquewhite;
    padding: 2vw;
    border-radius: 12px;
    border: none;
}

.venueList:hover {
    cursor: pointer;
    color: black;
    background-color: antiquewhite;
}

.selected {
    background-color: antiquewhite;
    color: black;
    border: solid goldenrod 3px;
}

.datePicker {
    height: 55px;
    width: 40%;
}
.datePicker:hover {
    cursor: pointer;
}
.datePicker::placeholder {
    color: black;
    text-align: center;
}


.submitSort {
    padding: 10px;
    background-color: black;
    color: red;
    margin-top: 30px;
    width: 15vw;
    height: 5vw;
    border-radius: 12px;
    border: white solid 2px;
}
.submitSort:hover {
    color: black;
    background-color: red;
    cursor: pointer;
    border: black solid 2px;
}