{% block style %}
<link rel="stylesheet" href="../../static/styles/nav.css">
{% endblock %}

{% block content %}
<div class="navContainer">
    <img src="../../static/images/AVLmusic.jpeg" class="navLogo" alt="logo">
    <div class="navRight">
        <div class="navLinks">
            <a class="sortLink allLink" href='{{ url_for("home") }}'>Clear Sort</a>
            <a class="sortLink allLink" href='{{ url_for("home") }}'>Sort</a>
        </div>
        <h1 class='title'>AVL Show Tracker</h1>
    </div>
</div>
{% endblock %}