{% block style %}
<link rel="stylesheet" href="../../static/styles/nav.css">
{% endblock %}

{% block content %}
<div class="navContainer">
    <img src="../../static/images/AVLmusic.jpeg" class="navLogo" alt="logo">
    <div class="navRight">

        <h1 class='title'>AVL Show Tracker
        </h1>
        <div class="navLinks">
            <div class="sortLink">
                <a href='{{ url_for("home") }}'>Shows</a>
            </div>
            <div class="sortLink">
                <a href='{{ url_for("sort") }}'>Sort Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}