
{% block style %}
<link rel="icon" type="image/x-icon" href="../static/images/vavlFavicon.ico">
<link rel="stylesheet" href="../static/styles/home.css">
{% endblock %}

{% extends 'base.html' %}

{% include './includes/nav.html'%}

{% block content %}
<div class="mainDiv" id="mainDiv">

        <div class="eventsDiv">
            <form class="searchBar" action="{{ url_for('search') }}" method="GET">
                <input type="text" id="search" name="query" placeholder="Search for events...">
                <button type="submit">Search</button>
            </form>
        {% for event in events %}
            {% if event.newDate %}
            <div class="dateDiv">
                <p class="dateHeader">{{event.newDate}}</p>
                </div>
            {% endif %}
        {% if event.venue %}
        <div class="blackBorder">
            <a class="eventLink
            {% if event.venue == 'Grey Eagle' %}
                eagle
            {% elif event.venue == 'Orange Peel' %}
                peel
            {% elif event.venue == 'Rabbit Rabbit' %}
                rabbit
            {% elif event.venue == 'Salvage Station' %}
                salvage
            {% elif event.venue == 'Harrah\'s Cherokee' %}
                cherokee
            {% elif event.venue == 'Fleetwoods' %}
                fleetwoods
            {% elif event.venue == 'Static Age' %}
                staticage
            {% elif event.venue == 'Asheville Music-Hall' %}
                musichall
            {% elif event.venue == 'Eulogy' %}
                eulogy
            {% endif %}" href="{{event.tickets}}" style="background-image: url('{{ event.image }}');background-size:cover">
                <h2 class="eventVenue">{{event.venue}}</h2>
                {% if event.title|length > 27 %}
                <h1 class="eventTitleSmaller">{{event.title}}</h1>
                {% else %}
                <h1 class="eventTitle">{{event.title}}</h1>
                {% endif %}
            </a>

        </div>
        {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock %}