
{% block style %}
<link rel="icon" type="image/x-icon"href="../static/images/vavlFavicon.ico">
<link rel="stylesheet" href="../static/styles/home.css">
{% endblock %}

{% extends 'base.html' %}

{% include './includes/nav.html'%}

{% block content %}
<div class="mainDiv" id="mainDiv">

        <div class="eventsDiv">
        {% for event in events %}
            {% if event.newDate %}
                <h1 class="dateHeader">{{event.newDate}}</h1>
            {% endif %}
        {% if event.venue %}
        <div class="blackBorder">
            <a class="eventLink
            {% if event.venue == 'Grey Eagle' %}
                eagle
            {% elif event.venue == 'Orange Peel' %}
                peel
            {% elif event.venue == 'Rabbit Rabbit' %}
                rabbit
            {% elif event.venue == 'Salvage Station' %}
                salvage
            {% elif event.venue == 'Harrah\'s Cherokee' %}
                cherokee
            {% endif %}" href="{{event.tickets}}" style="background-image: url('{{ event.image }}');background-size:cover">
                <h2 class="eventVenue">{{event.venue}}</h2>
                <h3 class="eventTitle">{{event.title}}</h3>
            </a>

        </div>
        {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock %}